################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/HelloWorld/v16/Browse.VC.opendb
#忽略.vs文件夹
.vs
#忽略Debug、Release文件夹
Debug